<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style_wall.css') }}"
    />
  </head>
  <body>
    <h1>inventory</h1>
    <!-- JavaScript Bundle with Popper -->
    <table class="table table-bordered m-5">
      <thead>
        <th style="max-width: 20px">item id</th>
        <th>item decs</th>
        <th style="max-width: 25px">category</th>
        <th style="max-width: 25px">department</th>
        <th style="max-width: 20px">item count</th>
        <th style="max-width: 25px">item cost ($)</th>
        <th style="max-width: 25px">item old price ($)</th>
        <th style="max-width: 25px">item current price ($)</th>
        <th style="max-width: 20px">Prev. week sales</th>
        <th style="max-width: 20px">Prev. sales target (below)</th>
        <th style="max-width: 20px">Prev. week shrink</th>
        <th style="max-width: 20px">Prev. shrink target (below)</th>
        <th style="max-width: 20px">Next. week sales (proj:)</th>
        <th style="max-width: 20px">Next. sales target (below)</th>
        <th style="max-width: 20px">Next. week shrink (proj:)</th>
        <th style="max-width: 20px">Next. shrink target (below)</th>
        <th>actions</th>
      </thead>
      <tbody>
        {%for item in items%}
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.item_desc}}</td>
          <td>
            <a href="/inventory/cat/{{item.cat_id}}">{{item.cat_name}}</a>
          </td>
          <td><a href="/inventory/{{item.dept_id}}">{{item.dept_name}}</a></td>
          <td>{{item.item_count}}</td>
          <td>{{item.cost_old}}</td>
          <td>{{item.unit_price_old}}</td>
          <td>{{item.unit_price_new}}</td>
          <td>{{item.prev_week_sale}}</td>
          <td>{{item.prev_week_target}}</td>
          <td>{{item.prev_week_shrink}}</td>
          <td>{{item.prev_week_shrink_target}}</td>
          <td>{{item.nxt_week_sale_proj}}</td>
          <td>{{item.nxt_week_target}}</td>
          <td>{{item.nxt_week_shrink_proj}}</td>
          <td>{{item.nxt_week_shrink_target}}</td>

          <td><a href="add_sales/{{item.id}}">add sales</a></td>
        </tr>

        {%endfor%}
      </tbody>
    </table>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
