<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        margin-left: 5rem;
      }
      form {
        font-size: 2rem;
      }
      input {
        font-size: 1.5rem;
        padding: 0.25rem;
        margin-bottom: 1rem;
        background-color: antiquewhite;
      }
      .btn {
        background-color: cadetblue;
        border: none;
        border-radius: 1rem;
        padding: 0.5rem 2rem;
      }
    </style>
  </head>
  <body>
    <h1>Add a New User</h1>
    <form action="/create" method="post">
      First Name : <br />
      <input type="text" name="fname" /> <br />
      Last Name : <br />
      <input type="text" name="lname" /> <br />
      Email : <br />
      <input type="text" name="email" /> <br />
      <input class="btn" type="submit" value="Create" />
    </form>
  </body>
</html>
